In [4]:
import cx_Oracle
import pandas as pd

In [6]:
# 서버 커넥션
dsn = cx_Oracle.makedsn("localhost", 1521, 'orcl')
dsn

'(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=orcl)))'

In [7]:
conn = cx_Oracle.connect('busan_06', 'dbdb', dsn)
conn

In [8]:
cursor = conn.cursor()
cursor

In [11]:
sql = '''  Select * from cart '''
sql

'  Select * from cart '

In [15]:
cursor.execute(sql)

In [16]:
row = cursor.fetchall()
row

[('r001', '2005071100002', 'P101000006', 6),
 ('i001', '2005071900001', 'P102000001', 1),
 ('i001', '2005071900001', 'P102000002', 2),
 ('i001', '2005071900001', 'P102000003', 3),
 ('u001', '2005071900002', 'P102000004', 4),
 ('u001', '2005071900002', 'P102000005', 5),
 ('j001', '2005072800001', 'P102000006', 6),
 ('j001', '2005072800001', 'P102000003', 3),
 ('q001', '2005072800002', 'P102000004', 4),
 ('q001', '2005072800002', 'P102000005', 5),
 ('c001', '2005072800003', 'P301000003', 2),
 ('c001', '2005072800003', 'P201000015', 2),
 ('b001', '2005072800004', 'P302000001', 6),
 ('b001', '2005072800004', 'P201000016', 15),
 ('b001', '2005072800004', 'P302000002', 2),
 ('b001', '2005072800004', 'P201000017', 2),
 ('a001', '2005040100001', 'P101000001', 5),
 ('a001', '2005040100001', 'P201000018', 16),
 ('a001', '2005040100001', 'P302000003', 7),
 ('t001', '2005040100002', 'P302000004', 2),
 ('t001', '2005040100002', 'P101000002', 2),
 ('w001', '2005040100003', 'P201000019', 2),
 ('w001', '2005040100003', 'P302000005', 9),
 ('w001', '2005040100003', 'P201000020', 21),
 ('w001', '2005040100003', 'P101000003', 3),
 ('r001', '2005040500001', 'P302000006', 2),
 ('r001', '2005040500001', 'P101000004', 2),
 ('r001', '2005040500001', 'P201000021', 2),
 ('q001', '2005040500002', 'P302000011', 11),
 ('q001', '2005040500002', 'P202000001', 12),
 ('q001', '2005040500002', 'P101000005', 4),
 ('p001', '2005040600001', 'P101000006', 2),
 ('p001', '2005040600001', 'P202000002', 2),
 ('o001', '2005040600002', 'P302000013', 9),
 ('o001', '2005040600002', 'P202000003', 9),
 ('o001', '2005040600002', 'P102000001', 6),
 ('f001', '2005040800001', 'P302000014', 2),
 ('f001', '2005040800001', 'P102000002', 2),
 ('f001', '2005040800001', 'P202000004', 2),
 ('m001', '2005040800002', 'P302000015', 8),
 ('m001', '2005040800002', 'P202000005', 8),
 ('m001', '2005040800002', 'P102000003', 9),
 ('l001', '2005041000001', 'P302000016', 2),
 ('l001', '2005041000001', 'P102000004', 2),
 ('l001', '2005041000001', 'P202000006', 2),
 ('f001', '2005041000002', 'P202000007', 7),
 ('f001', '2005041000002', 'P102000005', 8),
 ('f001', '2005041000002', 'P302000021', 7),
 ('j001', '2005041200001', 'P302000022', 2),
 ('j001', '2005041200001', 'P202000008', 2),
 ('j001', '2005041200001', 'P102000006', 2),
 ('j001', '2005041200001', 'P202000009', 6),
 ('m001', '2005041200002', 'P102000007', 7),
 ('m001', '2005041200002', 'P302000023', 6),
 ('m001', '2005041200002', 'P202000010', 2),
 ('f001', '2005041500001', 'P201000001', 2),
 ('f001', '2005041500001', 'P302000001', 2),
 ('j001', '2005041500002', 'P202000011', 5),
 ('j001', '2005041500002', 'P201000002', 5),
 ('j001', '2005041500002', 'P302000002', 5),
 ('f001', '2005041600001', 'P302000003', 2),
 ('f001', '2005041600001', 'P201000003', 2),
 ('f001', '2005041600001', 'P202000012', 2),
 ('e001', '2005041600002', 'P302000004', 4),
 ('e001', '2005041600002', 'P201000004', 3),
 ('e001', '2005041600002', 'P202000013', 4),
 ('d001', '2005041800001', 'P302000005', 2),
 ('d001', '2005041800001', 'P201000005', 2),
 ('d001', '2005041800001', 'P202000014', 2),
 ('c001', '2005041800002', 'P302000006', 3),
 ('c001', '2005041800002', 'P201000006', 1),
 ('c001', '2005041800002', 'P202000015', 3),
 ('b001', '2005042000001', 'P302000011', 2),
 ('b001', '2005042000001', 'P201000007', 2),
 ('b001', '2005042000001', 'P202000016', 2),
 ('b001', '2005042000001', 'P202000017', 1),
 ('b001', '2005042000001', 'P201000008', 5),
 ('c001', '2005042000002', 'P202000018', 2),
 ('c001', '2005042000002', 'P201000009', 2),
 ('c001', '2005042000002', 'P202000019', 2),
 ('c001', '2005042000002', 'P201000010', 4),
 ('c001', '2005042000002', 'P202000020', 2),
 ('x001', '2005042400001', 'P201000011', 2),
 ('x001', '2005042400001', 'P202000021', 4),
 ('x001', '2005042400001', 'P201000012', 3),
 ('e001', '2005042400002', 'P301000001', 2),
 ('e001', '2005042400002', 'P201000013', 2),
 ('e001', '2005042400002', 'P301000002', 5),
 ('e001', '2005042400002', 'P201000014', 13),
 ('c001', '2005042800001', 'P301000003', 2),
 ('c001', '2005042800001', 'P201000015', 2),
 ('b001', '2005042800002', 'P302000001', 6),
 ('b001', '2005042800002', 'P201000016', 15),
 ('b001', '2005042800002', 'P302000002', 2),
 ('b001', '2005042800002', 'P201000017', 2),
 ('b001', '2005050100001', 'P201000013', 5),
 ('b001', '2005050100001', 'P301000002', 5),
 ('c001', '2005050100002', 'P301000003', 6),
 ('c001', '2005050100002', 'P201000014', 3),
 ('c001', '2005050100002', 'P201000015', 7),
 ('d001', '2005050300001', 'P302000001', 4),
 ('d001', '2005050300001', 'P302000002', 3),
 ('e001', '2005050300002', 'P201000016', 8),
 ('e001', '2005050300002', 'P201000017', 21),
 ('g001', '2005050500001', 'P302000003', 4),
 ('g001', '2005050500001', 'P201000018', 11),
 ('g001', '2005050500001', 'P302000004', 3),
 ('a001', '2005050500002', 'P201000019', 12),
 ('a001', '2005050700001', 'P302000005', 5),
 ('a001', '2005050700001', 'P101000001', 3),
 ('a001', '2005050700001', 'P101000002', 1),
 ('b001', '2005050700002', 'P201000020', 2),
 ('b001', '2005050700002', 'P302000006', 6),
 ('b001', '2005050700002', 'P302000011', 7),
 ('c001', '2005051000001', 'P201000021', 5),
 ('c001', '2005051000001', 'P101000003', 2),
 ('c001', '2005051000001', 'P101000004', 4),
 ('d001', '2005051000002', 'P202000001', 6),
 ('d001', '2005051000002', 'P302000012', 8),
 ('d001', '2005051000002', 'P302000013', 3),
 ('d001', '2005051000002', 'P101000005', 5),
 ('d001', '2005051000002', 'P202000002', 7),
 ('f001', '2005051200001', 'P101000006', 6),
 ('f001', '2005051200001', 'P202000003', 8),
 ('f001', '2005051200001', 'P302000014', 4),
 ('f001', '2005051200001', 'P302000015', 5),
 ('f001', '2005051200001', 'P102000001', 1),
 ('g001', '2005051300001', 'P202000004', 9),
 ('g001', '2005051300001', 'P102000002', 2),
 ('g001', '2005051300001', 'P202000005', 11),
 ('g001', '2005051300001', 'P302000016', 6),
 ('g001', '2005051300001', 'P302000021', 3),
 ('i001', '2005051500001', 'P102000003', 3),
 ('i001', '2005051500001', 'P202000006', 12),
 ('j001', '2005051600001', 'P102000004', 4),
 ('j001', '2005051600001', 'P202000007', 17),
 ('j001', '2005051600001', 'P302000022', 1),
 ('k001', '2005051600002', 'P302000023', 3),
 ('k001', '2005051600002', 'P102000005', 5),
 ('k001', '2005051600002', 'P202000008', 21),
 ('k001', '2005051600002', 'P102000006', 6),
 ('k001', '2005051600002', 'P202000009', 13),
 ('l001', '2005051800001', 'P302000001', 4),
 ('l001', '2005051800001', 'P302000002', 6),
 ('m001', '2005051800002', 'P102000007', 3),
 ('m001', '2005051800002', 'P202000010', 23),
 ('m001', '2005051800002', 'P201000001', 5),
 ('m001', '2005051800002', 'P202000011', 25),
 ('m001', '2005051800002', 'P302000003', 7),
 ('m001', '2005051800002', 'P302000004', 2),
 ('o001', '2005052100001', 'P201000002', 2),
 ('o001', '2005052100001', 'P202000012', 5),
 ('o001', '2005052100001', 'P201000003', 5),
 ('p001', '2005052100002', 'P202000013', 7),
 ('p001', '2005052100002', 'P302000005', 3),
 ('p001', '2005052100002', 'P302000006', 1),
 ('p001', '2005052100002', 'P201000004', 6),
 ('p001', '2005052100002', 'P202000014', 6),
 ('r001', '2005052400001', 'P201000005', 2),
 ('r001', '2005052400001', 'P202000015', 5),
 ('r001', '2005052400001', 'P302000011', 4),
 ('s001', '2005052500001', 'P302000012', 2),
 ('s001', '2005052500001', 'P201000006', 3),
 ('s001', '2005052500001', 'P202000016', 4),
 ('t001', '2005052500002', 'P201000007', 1),
 ('t001', '2005052500002', 'P202000017', 3),
 ('t001', '2005052500002', 'P201000008', 6),
 ('t001', '2005052500002', 'P202000018', 2),
 ('v001', '2005052800001', 'P201000009', 3),
 ('v001', '2005052800001', 'P202000019', 1),
 ('w001', '2005052900001', 'P201000010', 2),
 ('w001', '2005052900001', 'P202000020', 9),
 ('w001', '2005052900001', 'P201000011', 3),
 ('x001', '2005052900002', 'P202000021', 8),
 ('x001', '2005052900002', 'P201000012', 4),
 ('x001', '2005052900002', 'P301000001', 7),
 ('a001', '2005060500001', 'P302000013', 2),
 ('a001', '2005060500001', 'P302000014', 11),
 ('a001', '2005060500001', 'P302000015', 2),
 ('b001', '2005060600001', 'P302000016', 9),
 ('b001', '2005060600001', 'P302000021', 2),
 ('b001', '2005060600001', 'P302000022', 8),
 ('c001', '2005061200001', 'P302000023', 2),
 ('c001', '2005061200001', 'P302000001', 7),
 ('d001', '2005061300001', 'P302000002', 2),
 ('d001', '2005061300001', 'P302000003', 6),
 ('e001', '2005061300002', 'P302000004', 2),
 ('e001', '2005061300002', 'P302000005', 5),
 ('e001', '2005062100001', 'P302000006', 2),
 ('e001', '2005062100001', 'P302000011', 4),
 ('f001', '2005062100002', 'P302000012', 2),
 ('f001', '2005062500001', 'P302000013', 3),
 ('f001', '2005062500001', 'P302000014', 2),
 ('f001', '2005062500001', 'P302000015', 1),
 ('b001', '2005070100001', 'P201000013', 5),
 ('b001', '2005070100001', 'P301000002', 5),
 ('c001', '2005070100002', 'P301000003', 6),
 ('c001', '2005070100002', 'P201000014', 3),
 ('c001', '2005070100002', 'P201000015', 7),
 ('d001', '2005070300001', 'P302000001', 4),
 ('d001', '2005070300001', 'P302000002', 3),
 ('e001', '2005070300002', 'P201000016', 8),
 ('e001', '2005070300002', 'P201000017', 21),
 ('g001', '2005070800001', 'P101000001', 3),
 ('g001', '2005070800001', 'P101000002', 1),
 ('r001', '2005070800002', 'P101000003', 2),
 ('h001', '2005071100001', 'P101000005', 5)]

In [18]:
# 커서가 가진 테이블 정보
colname = cursor.description
colname

[('CART_MEMBER', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 15, 15, None, None, 0),
 ('CART_NO', <cx_Oracle.DbType DB_TYPE_CHAR>, 13, 13, None, None, 0),
 ('CART_PROD', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 10, 10, None, None, 0),
 ('CART_QTY', <cx_Oracle.DbType DB_TYPE_NUMBER>, 9, None, 8, 0, 0)]

In [19]:
# 접속 끊기
# 순서 꺼꾸로
cursor.close()
conn.close()
# dsn은 안함

In [29]:
# 컬럼 불러오기
col = []
for tp in colname:
    print(tp[0])
    col.append(tp[0])
col

CART_MEMBER
CART_NO
CART_PROD
CART_QTY

['CART_MEMBER', 'CART_NO', 'CART_PROD', 'CART_QTY']

In [32]:
cart = pd.DataFrame(row, columns=col)
cart

    CART_MEMBER        CART_NO   CART_PROD  CART_QTY
0          r001  2005071100002  P101000006         6
1          i001  2005071900001  P102000001         1
2          i001  2005071900001  P102000002         2
3          i001  2005071900001  P102000003         3
4          u001  2005071900002  P102000004         4
..          ...            ...         ...       ...
202        e001  2005070300002  P201000017        21
203        g001  2005070800001  P101000001         3
204        g001  2005070800001  P101000002         1
205        r001  2005070800002  P101000003         2
206        h001  2005071100001  P101000005         5

[207 rows x 4 columns]

In [36]:
'''
-- 전체회원의 2005년도 4월 구매일자에 대한 구매수량의 합을 조회하세요
-- 구매일자는 장바구니 테이블에서 주문번호 앞 8자리입니다
-- 구매수량은 장바구니 테이블에서 수량을 의마합니다.
-- 회원id, 회원성명, 구매수량의 합 조회
-- 구매수량이 없으면 0으로 처리
'''

'\n-- 전체회원의 2005년도 4월 구매일자에 대한 구매수량의 합을 조회하세요\n-- 구매일자는 장바구니 테이블에서 주문번호 앞 8자리입니다\n-- 구매수량은 장바구니 테이블에서 수량을 의마합니다.\n-- 회원id, 회원성명, 구매수량의 합 조회\n-- 구매수량이 없으면 0으로 처리\n'

In [42]:
# 서버 커넥션
dsn = cx_Oracle.makedsn("localhost", 1521, 'orcl')
dsn
# 테이블이랑 연결하기
conn = cx_Oracle.connect('busan_06', 'dbdb', dsn)
conn
# 커서 생성
cursor = conn.cursor()
cursor
# sql구문으로 값 가져오기
sql = '''  Select * from member '''
sql
# 커서 실행
cursor.execute(sql)
# ??
row = cursor.fetchall()
row
# 커서가 가진 테이블 정보
colname = cursor.description
colname
# 접속 끊기
# 순서 꺼꾸로
cursor.close()
conn.close()
# dsn은 안함
# 컬럼 불러오기
col = []
for tp in colname:
    print(tp[0])
    col.append(tp[0])
col
member = pd.DataFrame(row, columns=col)
member

MEM_ID
MEM_PASS
MEM_NAME
MEM_REGNO1
MEM_REGNO2
MEM_BIR
MEM_ZIP
MEM_ADD1
MEM_ADD2
MEM_HOMETEL
MEM_COMTEL
MEM_HP
MEM_MAIL
MEM_JOB
MEM_LIKE
MEM_MEMORIAL
MEM_MEMORIALDAY
MEM_MILEAGE
MEM_DELETE

,MEM_ID,MEM_PASS,MEM_NAME,MEM_REGNO1,MEM_REGNO2,MEM_BIR,MEM_ZIP,MEM_ADD1,MEM_ADD2,MEM_HOMETEL,MEM_COMTEL,MEM_HP,MEM_MAIL,MEM_JOB,MEM_LIKE,MEM_MEMORIAL,MEM_MEMORIALDAY,MEM_MILEAGE,MEM_DELETE
0,a001,asdfasdf,김은대,760115,1406420,1976-01-15,135-972,대전시 동구 용운동,222-2번지,042-621-4615,042-621-4615,011-621-4615,pyoedab@lycos.co.kr,주부,수영,결혼기념일,1999-01-12,1000,None
1,b001,1004,이쁜이,741004,2900000,1974-01-07,700-030,서울시 천사동 예쁜마을,1004-29,02-888-9999,02-888-9999,016-888-9999,engelcd@pretty.net,회사원,수영,아버님생신,1999-02-12,2300,None
2,c001,7777,신용환,740124,1400716,1974-01-24,407-817,대전광역시 중구 대흥동,477-9,042-123-5678,042-123-5678,011-123-5678,kyh01e@hanmail.net,교사,독서,아내생일,1999-03-12,3500,None
3,d001,123joy,성윤미,460409,2000000,1946-04-09,501-705,대전시 중구 하늘동,땅 3번지,042-222-8877,042-222-8877,019-222-8877,dbs81f@hanmail.net,공무원,볼링,결혼기념일,1999-04-12,1700,None
4,e001,00000000,이혜나,750501,2406017,1975-05-01,617-800,대전시 대덕구 읍내동,혜강아파트,042-432-8901,042-432-8901,011-432-8901,bosiang@hanmail.net,농업,당구,아버님생신,1999-05-12,6500,None
5,f001,12345678,신영남,751228,1459919,1972-11-04,140-706,대전광역시 대흥동,65-33 303호,042-253-2121,042-253-2121,011-253-2121,SUPER-KHG@HANMAIL.NET,주부,볼링,아내생일,1999-06-12,2700,None
6,g001,1456,송경희,771111,2403414,1965-01-01,339-841,충남금산군 제원면,심내리123-1,0412-356-3578,0412-356-3578,017-356-3578,lim052@hanmail.net,주부,스키,결혼기념일,1999-07-12,800,None
7,h001,9999,라준호,740728,1455822,1967-03-01,339-841,충남 논산시 양촌면,산직3구 345,042-522-1679,042-522-1679,019-522-1679,wingl7@hanmail.net,회사원,독서,아내생일,1999-08-12,1500,None
8,i001,1111,최지현,741220,2384719,1974-12-20,306-702,대전시 동구 가양1동,768-12,042-614-6914,042-614-6914,017-614-6914,pan@orgio.net,공무원,등산,남편생일,1999-09-12,900,None
9,j001,6262,김윤희,751019,2448920,1975-11-21,306-702,대전시 서구 삼천동,한신아파트305동309호,042-332-8976,042-332-8976,018-332-8976,maxsys@hanmail.net,농업,개그,결혼기념일,1999-10-12,1100,None
10,k001,7227,오철희,620123,1449311,1962-01-23,306-702,대전시 대덕구 대화동,34-567,042-157-8765,042-157-8765,016-157-8765,equus@orgio.net,자영업,서예,아내생일,1999-11-12,3700,None
11,l001,12345678,구길동,881214,1234566,1988-12-14,339-841,충남금산군 금산읍,하리35-322,0412-322-8865,0412-322-8865,016-322-8865,email815@hanmail.co.kr,자영업,바둑,결혼기념일,1999-12-12,5300,None
12,m001,pass,박지은,750315,2555555,1975-03-15,306-702,대전광역시 서구 갈마동,인성아파트 234동 907호,042-252-0675,042-252-0675,016-252-0675,happy@hanmail.net,은행원,등산,아버님생신,1999-12-12,1300,None
13,n001,1111,탁원재,750323,1011014,1975-03-23,306-702,대전시 동구 자양동,32-23,042-632-2176,042-632-2176,019-632-2176,ping75@unitel.co.kr,축산업,낚시,결혼기념일,1999-02-12,2700,None
14,o001,0909,배인정,780930,2447619,1978-09-30,306-702,대전시 서구 갈마동,경성아파트502동1101호,042-622-5971,042-622-5971,011-622-5971,tar-song@hanmail.net,회사원,등산,어머님생신,1999-03-12,2600,None
15,p001,sahra3,오성순,730805,2458323,1973-08-05,306-702,대전유성구송강동,한솔아파트 703동 407호,042-810-7658,042-810-7658,017-810-7658,sahra235@intz.com,공무원,독서,남편생일,1999-05-12,2200,None
16,q001,0000,육평회,721020,1402722,1972-10-20,306-702,대구광역시 대덕구 중리동,678-43,042-823-2359,042-823-2359,017-823-2359,kph@hanmail.net,자영업,만화,결혼기념일,1999-06-12,1500,None
17,r001,park1005,정은실,770120,2382532,1976-11-26,306-702,대전시 동구 용전동,321-25,042-533-8768,042-533-8768,016-533-8768,econie@hanmail.net,학생,장기,어머님생신,1999-07-12,700,None
18,s001,0819,안은정,770819,2459927,1977-10-01,306-702,대구광역시 서구 탄방동,산호아파트 107동 802호,042-222-8155,042-222-8155,019-222-8155,songej@hanmail.net,공무원,바둑,결혼기념일,1999-07-12,3200,None
19,t001,0506,성원태,760506,1454731,1976-05-06,306-702,대전광역시 중구 유천동,한사랑아파트 302동 504호,042-272-8657,042-272-8657,011-272-8657,bob6@hanmail.net,학생,카레이싱,결혼기념일,1999-08-12,2200,None
20,u001,1000,김성욱,731010,1460111,1973-10-10,306-702,대전시 동구 용전동,76-54,042-273-9056,042-273-9056,018-273-9056,pss576@orgio.net,주부,영화감상,결혼기념일,1999-07-12,2700,None
21,v001,00001111,이진영,520131,2402712,1952-01-31,306-702,대전시 동구 용전동,566-39번지,042-240-8766,042-240-8766,017-240-8766,gagsong@orgio.net,자영업,낚시,남편생일,1999-09-12,4300,None
22,w001,12341234,김형모,631213,1111111,1963-12-13,306-702,대전시 대덕구 연축동,23-43,02-345-9877,02-345-9877,011-345-9877,songone@hanmail.net,학생,등산,결혼기념일,1999-11-12,2700,None
23,x001,0000,진현경,770319,2110222,1977-03-19,306-702,대전광역시 동구 오정동,43-26,042-223-8767,042-223-8767,019-223-8767,happysong@hanmail.net,주부,독서,결혼기념일,1999-02-12,8700,None

In [43]:
'''
-- 전체회원의 2005년도 4월 구매일자에 대한 구매수량의 합을 조회하세요
-- 구매일자는 장바구니 테이블에서 주문번호 앞 8자리입니다
-- 구매수량은 장바구니 테이블에서 수량을 의마합니다.
-- 회원id, 회원성명, 구매수량의 합 조회
-- 구매수량이 없으면 0으로 처리
'''

NameError: name 'inner' is not defined